@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
  font-family: 'Rubik', sans-serif;
  margin: 0px;
  padding: 0px;
}

.FirstHalf {
  height: 100vh;
}

.SecondHalf {
  height: auto;
  background-color: #211A3E;
  color: white;
}

.infoCards {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  justify-content: space-around;
}

/* .card {
  width: 30px;
} */